.body {
    margin-bottom: 20px;
    position: relative;
    height: 20px;
}

.block {
    cursor: pointer;
    display: inline-block;
}

.status {
    font-size: 16px;
    color: #111;
}

.icon {
    color: #1e74fd;
    margin-right: 5px;
}

.input {
    position: absolute;
}

.input input {
    border: 2px #eee solid;
    height: 30px;
    padding: 0 10px;
}

.input input:focus {
    border: 1px #05f solid;
    height: 30px;
    padding: 0 10px;
}