.container {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,.05);
}

.body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 0 20px;
    font-family: Montserrat,sans-serif;
}

.avatar {
    width: 110px;
    height: 110px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    margin: -55px 0 0 0;
    position: relative;
}

.avatar div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block {
    padding: 0px 0px 0px 50px;
    color: #333;
}

.background {
    position: relative;
    padding: 0px 0px 26% 0px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullName {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: #111;
}

.status {
    margin-bottom: 20px;
}

.item {
    font-size: 16px;
    color: #adb5bd;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}