.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    font-family: Montserrat, sans-serif;
}

.image {
    width: 250px;
    margin-bottom: 30px;
}

.image img {
    max-width: 100%;
}

.title {
    font-weight: 700;
    color: #212529;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    max-width: 650px;
    margin-bottom: 20px;
}

.text {
    color: #adb5bd;
    font-size: 16px;

}