.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template: minmax(96px, auto) 1fr/ 1fr;
	grid-template-areas:
		"header"
		"main";
	background-color: #fbfcfe;
	overflow: hidden;
}

.main {
	grid-area: main;
	padding: 20px;
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 20px;
}

.content {
	padding: 0 0 20px;
	background-color: #fbfcfe;
	border-radius: 10px;
}

.container {
	max-width: 1020px;
	padding: 0 15px;
	margin: 0 auto;
}